<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}">
    <title>Weekday Calculator</title>
</head>
<body>

<div class="container">

    <h1>📅 Weekday Calculator</h1>

    <form method="POST">

    <p>
        <label for="date">📅 日付を選択</label><br>
        <input
            type="date"
            id="date"
            name="date"
            required>
    </p>

    <button type="submit">曜日を計算</button>

</form>

    {% if result %}
    <div class="result">
        {{ result }}
    </div>
    {% endif %}

</div>

</body>
</html>